@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.select-btn-select {
    @apply bg-ccBlue text-white appearance-none;
    margin: 0 0 0 4px;
    height: 40px;
    width: 100%;
    float: right;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.select-btn-btn {
    @apply border-r border-ccDark absolute;
    height: 38px;
    float: left;
    border-radius: 10px 0 0 10px;
    width: calc(100% - 34px);
}

.select-btn-dbtn {
    height: 38px;
    float: right;
    border-radius: 0 10px 10px 0;
    width: 34px;
}

.select-btn-dbtn::after {
    @apply mb-px;
    content: "";
    border-width: 0 2px 2px 0;
    border-color:#cccccc;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select-btn-btn:disabled {
    @apply text-ccGrey-light hover:bg-ccBlue active:text-ccGrey-light;
}

.select-input-li-selected {
    @apply text-white bg-ccBlue;
}

#info-form-btn:disabled {
    @apply text-ccGrey-light hover:bg-ccBlue active:text-ccGrey-light;
}
